<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ferg.awful"
      android:versionCode="31"
      android:versionName="2.2.0b3"
      android:installLocation="auto">
    <uses-sdk 
		android:minSdkVersion="7" 
		android:targetSdkVersion="14" 
		/>
    <supports-screens 
        android:smallScreens="true"
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:anyDensity="true" 
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application 
		android:label="@string/app_name" 
		android:icon="@drawable/icon" 
		android:name=".AwfulApplication"
        android:backupAgent=".backup.PreferencesBackupAgent"
        android:hardwareAccelerated="true"
        android:theme="@style/ThemeCustomActionBar"
		android:debuggable="true">
        <activity android:name="ForumsIndexActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/index.php"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:path="/"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:path=""/>
            </intent-filter>
        </activity>
        <activity 
            android:name="ForumsTabletActivity" 
            android:exported="true"
            />
        <activity 
            android:name="ForumsPhoneActivity"
            />
        <activity 
            android:name="ForumsTVActivity"
            />
        <activity
                android:name="AwfulLoginActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name="ThreadDisplayTabletActivity" />
        <activity 
            android:name="ThreadDisplayActivity"
          	android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/showthread.php"/>
			</intent-filter>
        </activity>
        <activity 
            android:name="ForumDisplayActivity"
            >
        	<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/forumdisplay.php"/>
        	</intent-filter>
        </activity>
        <activity android:name="ProfileActivity" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="SettingsActivity" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="ColorSettingsActivity" android:theme="@android:style/Theme.NoTitleBar" />
        <activity 
            android:name="UserCPActivity" 
            android:exported="true"
            android:clearTaskOnLaunch="true" 
            />
        <activity 
            android:name="PostReplyActivity"
            android:windowSoftInputMode="adjustResize" 
            />
        <activity 
            android:name="UserCPShortcutActivity"
            android:icon="@drawable/icon" 
            android:label="@string/usercp"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="MessageDisplayActivity"></activity>
        <activity android:name="PrivateMessageActivity">
        	<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/private.php"/>
        	</intent-filter>
        </activity>

		<provider android:name="com.ferg.awful.provider.AwfulProvider"
				  android:authorities="com.ferg.awful.provider" />
		<service 
            android:label="AwfulSyncService" 
            android:name="com.ferg.awful.service.AwfulSyncService"
            />

        <meta-data 
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI6vsvugZT_Gz3gqKAF5Fm0G6VGGL-xwgGrL6-Ug" 
            />
        <activity android:name="ImageSettingsActivity"></activity>
        <activity android:name="ThreadInfoSettingsActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="com.google.android.tv" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
