local.properties

*.swp

*.keystore

*.DS_Store

/bin/*

/gen/*

.classpath

.project
/application/gen
/application/bin
/application/bin
/application/gen
/libraries/LeftNavBarLibrary/bin
/libraries/LeftNavBarLibrary/gen
/libraries/LeftNavBarLibrary/.settings
/application/.settings
/libraries/Sherlock/bin
/libraries/Sherlock/gen
/libraries/pulltorefresh/gen
/libraries/pulltorefresh/bin
/libraries/GreenDroid/bin
/libraries/GreenDroid/gen
/libraries/Sherlock/bin
/libraries/Sherlock/bin/sherlock-awful.jar
/libraries/Sherlock/bin/res