<article class="{{ seen }} {{# isMarked }}marked{{/isMarked }} {{# isOP }}op{{/isOP }} {{# isSelf }}self{{/isSelf }}"  id="post{{ postID }}">
	<header class="postheader">
     	<section  class="postinfo">
 			{{# avatarURL }}
     		<div class="avatar-cell">
     			<div class="avatar" style="background-image:url('{{ . }}')">
     				<img class="avatarCorner" src="file:///android_asset/images/avatarCorner.png" alt=""/>
     			</div>
     		</div>
 			{{/avatarURL }}
 			<aside class="postinfo-poster">{{ username }} {{# mod }}<img src="file:///android_res/drawable/ic_star_blue.png" />{{/mod }} {{# admin }}<img src="file:///android_res/drawable/ic_star_red.png" />{{/admin }} </aside>
 			<time class="postinfo-postdate">{{ postDate }}</time>
			{{# regDate }}<time class="postinfo-regdate">Reg Date: {{ regDate }}</time>{{/regDate}}
			<aside class="postinfo-title">{{{ avatarText }}}</aside>
		</section >
		<nav class="postmenu"></nav>
		</header>
		<ul  class="postoptions">
			<li class="more" username="{{ username }}" userid="{{ userID }}">
				more
			</li>
			<li class="lastread" lastreadurl="{{ lastReadUrl }}">
				last read
			</li>
			{{# notOnProbation }}
				{{# editable }}
					<li class="edit">
						edit
					</li>
	        	{{/editable }}
				<li class="quote">
					quote
				</li>
			{{/notOnProbation }}
		</ul >
	<section  class="postcontent">
		{{{ postcontent }}}
	</section >
</article>