<?xml version="1.0" encoding="utf-8"?><!--
    Version code uses the format MmmRR following the Major, minor and Revision portions of the version number.

    When a beta is pushed to production, the next beta should increment the minor number. Any updates to that
    beta (or the production release) should increment the revision number. This means a beta is always one
    minor number ahead of production, so they can be updated independently, and the beta can be pushed to production when ready.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ferg.awfulapp"
    android:versionCode="30802"
    android:versionName="3.8.2"
      android:installLocation="auto">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:anyDensity="true" 
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application 
		android:label="@string/app_name"
		android:name="com.ferg.awfulapp.AwfulApplication"
        android:allowBackup="true"
		android:backupAgent=".backup.PreferencesBackupAgent"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AwfulTheme.Launcher"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!--
        This theme is reset to the normal app theme in AwfulActivity's #onCreate, before the super call and #setContentView
        Make sure any new entry point Activities (with intent filters) subclass AwfulActivity, or reset the theme themselves!
        -->
        <activity android:name="com.ferg.awfulapp.ForumsIndexActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher"
                        android:roundIcon="@mipmap/ic_launcher_round"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.frog"
                        android:enabled="true"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
				<data android:pathPrefix="/index.php"/>
				<data android:pathPrefix="/forumdisplay.php"/>
				<data android:pathPrefix="/usercp.php"/>
				<data android:pathPrefix="/bookmarkthreads.php"/>
				<data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher_dog"
                        android:roundIcon="@mipmap/ic_launcher_dog"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.dog"
                        android:enabled="false"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/index.php"/>
                <data android:pathPrefix="/forumdisplay.php"/>
                <data android:pathPrefix="/usercp.php"/>
                <data android:pathPrefix="/bookmarkthreads.php"/>
                <data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher_dead_dog"
                        android:roundIcon="@mipmap/ic_launcher_dead_dog"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.dead.dog"
                        android:enabled="false"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/index.php"/>
                <data android:pathPrefix="/forumdisplay.php"/>
                <data android:pathPrefix="/usercp.php"/>
                <data android:pathPrefix="/bookmarkthreads.php"/>
                <data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher_green"
                        android:roundIcon="@mipmap/ic_launcher_green"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.green"
                        android:enabled="false"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/index.php"/>
                <data android:pathPrefix="/forumdisplay.php"/>
                <data android:pathPrefix="/usercp.php"/>
                <data android:pathPrefix="/bookmarkthreads.php"/>
                <data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher_ghost"
                        android:roundIcon="@mipmap/ic_launcher_ghost_rounded"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.ghost"
                        android:enabled="false"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/index.php"/>
                <data android:pathPrefix="/forumdisplay.php"/>
                <data android:pathPrefix="/usercp.php"/>
                <data android:pathPrefix="/bookmarkthreads.php"/>
                <data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
                        android:icon="@mipmap/ic_launcher_v"
                        android:roundIcon="@mipmap/ic_launcher_v"
                        android:name="com.ferg.awfulapp.ForumsIndexActivity.v"
                        android:enabled="false"
                        android:targetActivity="com.ferg.awfulapp.ForumsIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/index.php"/>
                <data android:pathPrefix="/forumdisplay.php"/>
                <data android:pathPrefix="/usercp.php"/>
                <data android:pathPrefix="/bookmarkthreads.php"/>
                <data android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity-alias>
        <!--
        This handles share intents, and is meant to run invisibly and separately in its own task (singleInstance)
        -->
        <activity android:name=".ShareHandlerActivity" android:launchMode="singleInstance" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.ferg.awfulapp.AwfulLoginActivity"
                android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.AppCompat.Light" android:launchMode="singleTop"/>
        <activity
            android:name="com.ferg.awfulapp.preferences.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.ferg.awfulapp.PostReplyActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity android:name=".users.LepersColonyActivity"/>

        <activity
            android:name="com.ferg.awfulapp.BasicActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity 
            android:name="com.ferg.awfulapp.UserCPShortcutActivity"
            android:label="@string/usercp"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ferg.awfulapp.MessageDisplayActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.ferg.awfulapp.PrivateMessageActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        	<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
                <data android:host="forums.somethingawful.com" />
                <data android:pathPrefix="/private.php" />
        	</intent-filter>
        </activity>

        <provider android:name="com.ferg.awfulapp.provider.AwfulProvider" android:authorities="${applicationId}.provider" />
        <meta-data android:name="com.google.android.backup.api_key"
		    android:value="AEdPqrEAAAAIs68d9wLw6rnLPrSwTf193dR5QGZMSB3jsMhfBg" />
        <provider android:label="@string/awful_web_provider" android:name="com.ferg.awfulapp.provider.AwfulWebProvider" android:authorities="${applicationId}.webprovider" />
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow"> </uses-library>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="08483e697e0df7808be6159d08f88e4aae312157"/>
    </application>
</manifest>
