<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ferg.awfulapp"
      android:versionCode="149"
      android:versionName="3.2.2.0"
      android:installLocation="auto">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:anyDensity="true" 
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application 
		android:label="@string/app_name" 
		android:icon="@drawable/icon" 
		android:name="com.ferg.awfulapp.AwfulApplication"
        android:allowBackup="true"
		android:backupAgent=".backup.PreferencesBackupAgent"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AwfulTheme">
        <activity android:name="com.ferg.awfulapp.ForumsIndexActivity"
                  android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/index.php"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/forumdisplay.php"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/usercp.php"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/bookmarkthreads.php"/>
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/showthread.php"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.ferg.awfulapp.AwfulLoginActivity"
                android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.AppCompat.Light" android:launchMode="singleTop"/>
        <activity
            android:name="com.ferg.awfulapp.preferences.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.ferg.awfulapp.PostReplyActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity 
            android:name="com.ferg.awfulapp.UserCPShortcutActivity"
            android:icon="@drawable/icon" 
            android:label="@string/usercp"
            >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.ferg.awfulapp.UserCPActivity" 
            android:exported="true"
            android:clearTaskOnLaunch="true" 
            />
        <activity android:name="com.ferg.awfulapp.MessageDisplayActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.ferg.awfulapp.PrivateMessageActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        	<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="forums.somethingawful.com" android:pathPrefix="/private.php"/>
        	</intent-filter>
        </activity>
        <activity
            android:name="com.ferg.awfulapp.SearchActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

		<provider android:name="com.ferg.awfulapp.provider.AwfulProvider"
				  android:authorities="com.ferg.awfulapp.provider" />
        <meta-data android:name="com.google.android.backup.api_key"
		    android:value="AEdPqrEAAAAIs68d9wLw6rnLPrSwTf193dR5QGZMSB3jsMhfBg" />
        <provider android:label="@string/awful_web_provider" android:name="com.ferg.awfulapp.provider.AwfulWebProvider" android:authorities="com.ferg.awfulapp.webprovider" />
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow"> </uses-library>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="08483e697e0df7808be6159d08f88e4aae312157"/>
    </application>
</manifest>
