<article class="post {{seen}} {{#isIgnored}}ignored{{/isIgnored}} {{#isMarked}}marked{{/isMarked}} {{#isOP}}op{{/isOP}} {{#isSelf}}self{{/isSelf}}"  id="post{{postID}}">
	<header class="postheader">
        <div class="posterinfo">
            {{#avatarURL}}
            <img class="avatar {{#hideAvatar}}hide-avatar{{/hideAvatar}}" src="{{.}}" title="{{username}}'s avatar" {{#avatarSecondURL}}data-avatar-second-src="{{avatarSecondURL}}"{{/avatarSecondURL}}/>
            {{/avatarURL }}
            <section class="postinfo">
                <aside class="postinfo-poster"><span class="postinfo-poster-name">{{username}} {{#role}}<img src="file:///android_asset/images/ic_star_{{role}}.png" />{{/role}}</span> {{^role}}{{#plat}}<span class="icon-gren"></span>{{/plat}}{{/role}}</aside>
                {{#postDate}}<time class="postinfo-postdate">{{ postDate }}</time>{{/postDate}}
                {{#regDate}}<time aria-hidden="true" class="postinfo-regdate">Reg Date: {{regDate}}</time>{{/regDate}}
                {{#avatarText}}<aside aria-hidden="true" class="postinfo-title">{{avatarText}}</aside>{{/avatarText}}
            </section >
        </div>
		<nav aria-label="post menu" role="button" class="postmenu" username="{{username}}" userid="{{userID}}" lastreadurl="{{lastReadUrl}}" {{#editable}}editable{{/editable}} {{#role}}has-role {{role}}{{/role}} {{#plat}}isPlat{{/plat}} ></nav>
		</header>
    <div class="postseparator"></div>
	<section class="postcontent">
		{{{postcontent}}}
	</section >
</article>