.passive {
    color: #5e5e5e;
}

a {
    color: #eacf4c;
}

body {
    background-color: #000;
    font-family: userselected, monospace;
    font-size: 0.9em;
}

.post {
    background-color: #000;
    color: #eacf4c;
    margin: 10px 5px;
    border: 2px solid #eacf4c;
}

.read {
    background-color: #252600;
}

.op {
    background-color: #4A4D00;
}

.marked {
    background-color: #4D2700;
}

.self {
    background-color: #1A4000;
}

.postseparator {
    background-color: #eacf4c;
}

.postcontent .bbc-block {
    border-left: 2px solid #eacf4c;
}

.postcontent .self {
    background-color: #1A4000;
}

.postcontent .usernameHighlight {
    color: #eacf4c;
}

.postcontent .timg {
    border-color: #eacf4c;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
}

.postcontent .bbc-spoiler {
    background-color: black;
    color: transparent;
    box-shadow: 0px 0px 9px rgb(234, 207, 76);
}

.postcontent .bbc-spoiler.spoiled {
    box-shadow: none;
}

.postcontent .signature {
    border-top: 2px solid #eacf4c;
}


/*
    square dots for computers
*/
.postmenu:after {
    content: "\e901";
}