/*
name: BYOB
icon: #9999FF
systheme: byob
*/

@font-face {
    font-family: 'comicsans';
    src: url('file:///android_asset/fonts/comic.ttf.mp3');
}

.passive {
    color: #9999FF;
}

a {
    color: #006666;
}

body {
    background: left top fixed no-repeat url('file:///android_asset/images/byobbg.png');
    background-color: #9999FF;
    font-family: userselected, 'comicsans', Verdana, Arial, sans-serif;
}

.post {
    border-radius: .15em;
    background-color: #CCFFFF;
    color: #222222;
    box-shadow: 0 .15em 0 #dbdadb;
    margin: 10px 0px;
}

.seen {
    background-color: #CCCCFF;
}

.seen .postcontent {
    color: #AAAAAA;
}

.marked {
    background-color: #FFDFBF;
}

.marked .postcontent .bbc-block {
    border-left: 2px solid #CCCBCC !important;
}

.marked .postheader {
    border-bottom: 2px solid #CCCBCC !important;
}

.op {
    background-color: #FEFFD9;
}

.self {
    background-color: #ECFFD9;
}

.postcontent .bbc-block {
    border-left: 2px solid #D0D0D0;
}

.postcontent .self {
    background-color: #ECFFD9;
}

.postcontent .usernameHighlight {
    color: #00c0f4;
}

.postcontent .timg {
    border-color: #00c0f4;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
}

.postcontent .bbc-spoiler {
    background: #222222;
}

.postcontent .signature {
    border-top: 2px solid #D0D0D0;
}

.pmtitle {
    font-size: 1.2em;
    float: left;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #D0D0D0;
    margin: 0 0 10px;
    padding: 0 0 10px;
}