.passive {
    color: #eae9ea;
}

a {
    color: #00c0f4;
}

body {
    background-color: #FFF;
    font-family: Roboto, userselected, Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.post {
    background-color: #FFF;
    color: #666;
    margin: 0;
    padding: 0;
}

.read {
    background-color: #ddeeff;
}

.op .postheader {
    background-color: #199ed7;
}

.marked .postheader {
    background-color: #D71919;
}

.self .postheader {
    background-color: #5BA611;
}

.postcontent {
    padding: 5px;
    margin: 5px 15px 0;
    border: none;
}

.postcontent .bbc-block {
    border-left: 2px solid #eae9ea;
    margin: 5px 0 5px 5px;
    padding: 5px 10px 5px 15px;
}

.postcontent .self {
    background-color: #5BA611;
}

.postcontent .usernameHighlight {
    color: #00c0f4;
}

.postcontent .timg {
    border-color: #00c0f4;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
}

.postcontent .bbc-spoiler {
    background: #666;
}

.postcontent .signature {
    border-top: 2px solid #eae9ea;
}

.postheader {
    padding: 10px 0 5px 10px;
    margin: 0;
    background-color: #006699;
    color: #FFF;
    border: none;
}

.postmenu:after {
    content: "\e901";
    padding-right: 2px;
}