.passive {
    color: #eae9ea;
}

a {
    color: #00c0f4;
}

body {
    font-family: Roboto, userselected, Verdana, Arial, sans-serif;
}

.post {
    border-radius: 2px;
    background-color: #424242;
    color: #aeaeae;
    box-shadow: 0px 1px 2px 0px rgb(27, 27, 27);
    margin: 10px 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0) !important;
    backface-visibility: hidden;
}

.read {
    background-color: #141E33;
}

.marked {
    background-color: #400000;
}

.marked .postcontent .bbc-block {
    border-left: 2px solid #e7e7e7 !important;
}

.marked .postheader {
    border-bottom: 1px solid #e7e7e7 !important;
}

.op {
    background-color: #4A4D00;
}

.self {
    background-color: #1A4000;
}

.postcontent {
    color: #e7e7e7;
}

.postcontent .bbc-block {
    border-left: 2px solid #e7e7e7;
}

.postcontent .self {
    background-color: #1A4000;
}

.postcontent .usernameHighlight {
    color: #00c0f4;
}

.postcontent .timg {
    border-color: #00c0f4;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
    color: #828282;
}

.postcontent .bbc-spoiler {
    background: #e7e7e7;
    color: #e7e7e7;
}

.postcontent .bbc-spoiler a {
    color: #e7e7e7;
}

.postcontent .bbc-spoiler.spoiled a {
    color: #00c0f4;
}

.postcontent .signature {
    border-top: 1px solid #eae9ea;
}