.passive {
    color: #eae9ea;
}

a {
    color: #00c0f4;
}

body {
    background-color: #eae9ea;
    font-family: Roboto, userselected, Verdana, Arial, sans-serif;
}

.post {
    border-radius: 2px;
    background-color: #FFF;
    color: #828282;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
    margin: 10px 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0) !important;
}

.read {
    background-color: #EDF2FF;
}

.marked {
    background-color: #FFDFBF;
}

.marked .postcontent .bbc-block {
    border-left: 2px solid #CCCBCC !important;
}

.marked .postheader {
    border-bottom: 2px solid #CCCBCC !important;
}

.op {
    background-color: #FEFFD9;
}

.self {
    background-color: #ECFFD9;
}

.postcontent {
    color: #555;
}

.postcontent .bbc-block {
    border-left: 2px solid #eae9ea;
}

.postcontent .self {
    background-color: #ECFFD9;
}

.postcontent .usernameHighlight {
    color: #00c0f4;
}

.postcontent .timg {
    border-color: #00c0f4;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
    color: #828282;
}

.postcontent .bbc-spoiler {
    background: #555;
    color: #555;
}

.postcontent .bbc-spoiler a {
    color: #555;
}

.postcontent .bbc-spoiler.spoiled a {
    color: #00c0f4;
}

.postcontent .signature {
    border-top: 2px solid #eae9ea;
}