.passive {
    color: #000000;
}

a {
    color: #00c0f4;
}

body {
    background-image: url('file:///android_asset/images/fyadbg.jpg');
    font-family: Roboto, userselected, Verdana, Arial, sans-serif;
}

.post {
    border-radius: .15em;
    background-color: #FCF;
    color: #333;
    margin: 10px 5px;
    padding-bottom: 15px;
    position: relative;
}

.read {
    background-color: #FCC;
}

.marked {
    background-color: #FFDFBF;
}

.marked .postcontent .bbc-block {
    border-left: 2px solid #CCCBCC !important;
}

.marked .postheader {
    border-bottom: 2px solid #CCCBCC !important;
}

.self {
    background-color: #ECFFD9;
}

.postcontent {
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.postcontent:before {
    background: url("file:///android_asset/images/fyad-bubble.png") no-repeat scroll 0 top / 75px 25px rgba(0, 0, 0, 0);
    content: "";
    height: 25px;
    left: 10px;
    position: absolute;
    top: -25px;
    width: 75px;
    display: block;
}

.postcontent .bbc-block {
    border-left: 2px solid #999;
}

.postcontent .self {
    background-color: #ECFFD9;
}

.postcontent .usernameHighlight {
    color: #00c0f4;
}

.postcontent .timg {
    border-color: #00c0f4;
}

.postcontent .editedby {
    font-style: italic;
    font-size: 0.7em;
}

.postcontent .bbc-spoiler {
    background: #828282;
}

.postcontent .signature {
    border-top: 2px solid #999;
}