@font-face {
    font-family: 'icons';
    src: url('iconfont.ttf');
}

.playGif {
  position: relative;
    display: inline-block;
} 
.playGif.loading:before {
  background-image: url('file:///android_asset/images/loading.svg') !important;
}
.playGif:before {
  content: '';
    background-image: url('file:///android_asset/images/ic_menu_play.png');
    background-position: center;
    background-size: 50% ;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    z-index:1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.playGif img{
    opacity: 0.5;
    background-color: rgba(180,180,180);
}


aside.postinfo-poster .icon-gren:before {
    font-family: 'icons' !important;
    content: "\e900";
    -webkit-font-smoothing: antialiased;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    max-height: 720px;
    max-width: 1280px;
}