.playGif {
  position: relative;
    display: inline-block;
} 
.playGif.loading:before {
  background-image: url('file:///android_asset/images/loading.svg') !important;
}
.playGif:before {
  content: '';
    background-image: url('file:///android_asset/images/ic_menu_play.png');
    background-position: center;
    background-size: 50% ;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    z-index:1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.playGif img{
    opacity: 0.5;
    background-color: rgba(180,180,180);
}