.action-button img {
    max-width: 40px;
}

.avatar img {
    max-width: 50px;
}

.userinfo, .post-content {
    color: black;
    font: normal normal normal 20px Verdana, Arial, sans-serif;
}

.postdate {
    color: white;
    font: normal normal normal 18px Verdana, Arial, sans-serif;
}

.userinfo {
    color: white;
    margin-left: 4px;
}

.username h4 {
    font-size: 20px;
}

.bbc-block h4 {
    font-size: 18px;
}
