.action-button img {
    max-width: 30px;
}

.avatar {
    max-width: 50px;
    max-height: 50px;
}

.userinfo, .post-content {
    color: black;
    font: normal normal normal 18pt userselected, Verdana, Arial, sans-serif;
}

.postdate {
    font: normal normal normal 14pt userselected, Verdana, Arial, sans-serif;
}

.userinfo {
    color: white;
    margin-left: 1px;
}

.username h4 {
    font-size: 18pt;
}

.bbc-block h4 {
    font-size: 14pt;
}
