.avatar {
    padding: 0px;
    margin: 0px;
    float: left;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center; 
}

td {
    border: 0px solid #c0ffee;
}

.post-content {
    padding: 6px;
    border: 0px;
    overflow: scroll;
}

.userinfo, .post-content {
    color: black;
    font: normal normal normal 14pt userselected, Verdana, Arial, sans-serif;
    vertical-align: top;
}

.username h4 {
    font-size: 16pt;
}

.userinfo {
    padding: 3px;
    float: left;
    color: white;
    margin-left: 4px;
}

.action-button {
    float: right;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.userinfo-row {
    background: #006699;
    width:100%;
    overflow: auto;
}

.postdate, .avatar-text {
    color: white;
    font: normal normal normal 16pt userselected, Verdana, Arial, sans-serif;
}

.bbc-block h4 {
    border-top: 1px #999999 solid;
    padding: 8px 0 2px 0;
    font-size: 16pt;
    font-style: italic;
    color: #555;
}

.bbc-block.code {
    overflow: scroll;
}

#thread-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
