body {
    margin: 0;
    padding: 0;
    font-family: userselected, Verdana, Arial, sans-serif;
}

td {
    border: 1px solid #c1c1c1;
    overflow: auto;
}

h4 {
    font-weight: bold;
    margin: 0px;
}

table {
    table-layout: fixed;
    border-width: 1px;
    border-collapse: collapse;
    width: 100%;
}

.post-cell {
    vertical-align: top;
}

.content {
    width: 100%;
}

#thread-body {
    border: 1px solid #dddddd;
}

.bbc-block {
    margin: 12px 32px;
    border-bottom: 1px #999999 solid;
}

.bbc-block h4 {
    border-top: 1px #999999 solid;
    padding: 8px 0 2px 0;
    font-style: italic;
}

.bbc-block blockquote {
    margin: 0 0 8px 0;
    padding: 0;
}

.post-content {
/*  
    vertical-align: top;
    //italics fix stolen from abraham linksys
*/
    vertical-align: text-bottom !important;
    border-width: 1px;
    border-collapse: collapse;
}

.username {
    vertical-align: top;
    font-style: bold !important;
}

.username h4 {
    font-size: larger;
}

.username img{
	margin-left: 5px;
}

.userinfo, .post-content, .avatar-text-phone {
    vertical-align: top;
}

.post-content {
    padding: 5px 5px 1px;
}

.post-content img{
	max-width: 100% !important;
}

.action-button {
    float: right;
    vertical-align: middle;
}

.userinfo {
    vertical-align: top;
    padding: 5px;
}

.avatar {
    vertical-align: top;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 5px;
}


.button-row img {
    margin: 5px;
}

.inline-button {
	display: inline-block;
	margin-left:5px;
	margin-right:10px;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-size: larger;
}

.usercolumn {
    vertical-align: top;
    width: 20%;
}

.quote-button {
    text-align: right;
    margin-right: 15px;
    padding: 4px;
}

.bbc-spoiler, .bbc-spoiler li {
    background: black;
}

.editedby {
    font-style: italic;
}
